
@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

:root {
  --primary-color: #272727; /* Raisin Black */
  --secondary-color: #D4AA7D; /* Buff */
  --accent-color: #EFD09E; /* Sunset */
  --text-color: #ffffff; /* Dark Gray */
  --base-font: "Liter", sans-serif;
}